<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gateway.mapper.userManagement.UserManagementMapper">

    <select id="queryUser" parameterType="map" resultType="userManagementVO">
        select
            ul.id,
            ul.user_name userName,
            ul.name,
            (select name from app_organizations o  where o.id = ul.app_organization_id) appOrganizationName,
            (select string_agg(ap.name, ',') from app_roles ap ,user_app_roles uap where ap.id = uap.app_roles_id and uap.user_id = ul.id) appRolesName,
            (select string_agg(ar.name, ',') from app_region ar, user_app_region uar where ar.id = uar.app_region_id and uar.user_id = ul.id) appRegionName,
            '' appsName,
            ul.account_type_id accountTypeName,
            ul.permission_type_id permissionTypeName,
            ul.status,
            ul.create_time createTime
        from user_login ul
    </select>

</mapper>